/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*border + left padding + width + right padding + border*/
	/*without border box
		1px border + 50px left padding + 150px width + 50px right padding + 1px border = 252px(not equal to width)
	*/
}
body {
	font-family: 'Open Sans', sans-serif;
}

nav {
	/*0.8rem = 12.8px based on root element (16px)*/
	/*shorthand padding version*/
	padding: 0.8rem;
	/*detailed padding version
	padding-top:  0.8rem;
	padding-bottom:  0.8rem;
	padding-left:  0.8rem;
	padding-right:  0.8rem;
	*/
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;/*size, type of border, color*/
	list-style-type: none;
}
/*child selector*/
nav > ul > li {
	list-style-type: none;
}

/*descendant selector*/
nav .nav, nav .nav-logo {
	margin: 0.5rem;
	display: inline;
}

#intro {
	/*creates space between the contents of the intro section and the it's border*/
	/*The value "10%" is used to make the page responsive to the screen size. It generates it's value based on the parent element which is the body tag, which spans the whole width of the page.*/
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	/*shorthand property
	padding: top left&right bottom;
	padding: 2rem 10% 3rem;
	*/
	text-align: center;

}

.header {
	/*best used when horizontally aligning text instead of using margin and padding*/
	text-align: center;
}

#intro h2, #intro p {
	/*creates space between the contents of the intro section*/
	margin-bottom: 1rem;
}

#intro button {
	background-color: #c2195b;
	color: white;
	/*changes the thickness of text*/
	font-weight: bold;
	font-size: 1rem;
	/*creates space between the button text and the border*/
	padding: 1rem;
	border-radius: 25px;
}

#succeed-info {
	/*exact same properties as the intro section but can have it's own CSS rule for flexibility.
	In the context of a larger application where there are hundreds or thousands of lines of code, this might be a good approach to make the element isolated for future changes.*/
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#succeed-info h2 {
	/*creates space between the header and the card section*/
	margin-bottom: 1rem;
}

#succeed-info h3 {
	text-align: center;
	margin-bottom: 1rem;
}

#succeed-info .card {
	/*allows the cards to appear beside each other and manipulate the sizes*/
	display: inline-block;
	/*aligns elements with the tallest element in line*/
	vertical-align: top;
	/*allows for cards to have equal height that adjust with the content*/
	min-height: 175px;
	/*measurement is based on equally dividing the parent container's width*/
	width: 30%;
	/*creates horizontal spacing between cards*/
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

#pre-footer .foot {
	display: inline-block;
	vertical-align: top;
	margin-left: 50px;
	margin-right: 50px;
}

#pre-footer {
		background-color: blueviolet;
}

footer {
	/*creates space between the span tags and the footer border*/
	padding: 0.7rem;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	/*margin:  top&bottom, left&right
	margin: 0, 0.5rem;
	*/
}

/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*border + left padding + width + right padding + border*/
	/*without border box
		1px border + 50px left padding + 150px width + 50px right padding + 1px border = 252px(not equal to width)
	*/
}
body {
	font-family: 'Open Sans', sans-serif;
}

nav {
	/*0.8rem = 12.8px based on root element (16px)*/
	/*shorthand padding version*/
	padding: 0.8rem;
	/*detailed padding version
	padding-top:  0.8rem;
	padding-bottom:  0.8rem;
	padding-left:  0.8rem;
	padding-right:  0.8rem;
	*/
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;/*size, type of border, color*/
	list-style-type: none;
}
/*child selector*/
nav > ul > li {
	list-style-type: none;
}

/*descendant selector*/
nav .nav, nav .nav-logo {
	margin: 0.5rem;
	display: inline;
}

#intro {
	/*creates space between the contents of the intro section and the it's border*/
	/*The value "10%" is used to make the page responsive to the screen size. It generates it's value based on the parent element which is the body tag, which spans the whole width of the page.*/
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	/*shorthand property
	padding: top left&right bottom;
	padding: 2rem 10% 3rem;
	*/
	text-align: center;

}

.header {
	/*best used when horizontally aligning text instead of using margin and padding*/
	text-align: center;
}

#intro h2, #intro p {
	/*creates space between the contents of the intro section*/
	margin-bottom: 1rem;
}

#intro button {
	background-color: #c2195b;
	color: white;
	/*changes the thickness of text*/
	font-weight: bold;
	font-size: 1rem;
	/*creates space between the button text and the border*/
	padding: 1rem;
	border-radius: 25px;
}

#succeed-info {
	/*exact same properties as the intro section but can have it's own CSS rule for flexibility.
	In the context of a larger application where there are hundreds or thousands of lines of code, this might be a good approach to make the element isolated for future changes.*/
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#succeed-info h2 {
	/*creates space between the header and the card section*/
	margin-bottom: 1rem;
}

#succeed-info h3 {
	text-align: center;
	margin-bottom: 1rem;
}

#succeed-info .card {
	/*allows the cards to appear beside each other and manipulate the sizes*/
	display: inline-block;
	/*aligns elements with the tallest element in line*/
	vertical-align: top;
	/*allows for cards to have equal height that adjust with the content*/
	min-height: 175px;
	/*measurement is based on equally dividing the parent container's width*/
	width: 30%;
	/*creates horizontal spacing between cards*/
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

#pre-footer .foot {
	display: inline-block;
	vertical-align: top;
	margin-left: 50px;
	margin-right: 50px;
}

#pre-footer {
		background-color: blueviolet;
}

footer {
	/*creates space between the span tags and the footer border*/
	padding: 0.7rem;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	/*margin:  top&bottom, left&right
	margin: 0, 0.5rem;
	*/
}
